@font-face {
  font-family: 'NT Somic';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NTSomic-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NT Somic';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NTSomic-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NT Somic';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NTSomic-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'NT Somic';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NTSomic-Bold.woff2') format('woff2');
}
